<!--
<?php
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
<!--
function selectsearch(theA,word){
	obj=document.getElementById("selectsearch").getElementsByTagName("a");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
	theA.className='choose';
	document.getElementById("searchtype").value=word;
}
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
clickEdit.init();
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('</div>');
//-->
</SCRIPT><div id="copyright">
<div id="copyright">
    <p>Copyright@ http://ljzcy.dns3.ceshi6.com all rights reserved <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备050453号</a><br />
      客服QQ：191698811 电话：1380000000（7*24）<br>
    Powered by <a href="http://ljzcy.dns3.ceshi6.com" target="_blank">地方生活门户系统</a><br /><img src="http://ljzcy.dns3.ceshi6.com/images/faba0bed-e6ee-4e44-a7f4-5f3be59b3640.gif" />
    
    <br />
    </p>
</div>
</body>
</html>
<!--
EOT;
?>
-->