<!--
<?php
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
<!--
function selectsearch(theA,word){
	obj=document.getElementById("selectsearch").getElementsByTagName("a");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
	theA.className='choose';
	document.getElementById("searchtype").value=word;
}
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
clickEdit.init();
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--//脛驴碌脛脢脟脦陋脕脣脳枚路莽赂帽路陆卤茫
document.write('</div>');
//-->
</SCRIPT>
<div id="copyright">
    <font color="#0000ff"><br>
      
  <div id="footer" align="center">

	<div style="padding-bottom:6px;">
	<a href="http://www.0775168.com/hy/homepage.php?uid=1">本站简介</a> ┊ 
	<a href="#">广告服务</a> ┊ 
	<a href="http://www.0775168.com/hy/homepage.php?uid=1">联系我们</a> ┊ 
	<a href="http://www.0775168.com/hr/bencandy.php?fid=6&id=60">诚聘英才</a> ┊ 
	<a href="http://www.0775168.com/do/reg.php">会员注册</a> ┊ 
	<a href="#">产品答疑</a>
	</div>
	<table cellspacing="0" style="margin:0 auto;">
	<tr>
<!-- 中国互联网协会 begin -->
	<td><a href="http://www.itrust.org.cn" target="_blank"><img width="118" height="50" alt="中国互联网协会" src="http://i1.sinaimg.cn/dy/deco/2009/0714/wzdzbs.png" style="border: none ;"/></a></td>
<td width="5"></td>

<!-- 中国互联网协会 end -->

 
	<td><a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=0102000102300001" target="_blank"><img src="http://i3.sinaimg.cn/home/07index/sinahome_wscfy_031.gif" width="118" height="48" alt="经营性网站备案信息" /></a></td>

	<td width="5"></td>

	<td><a href="http://www.allyes.com" target="_blank"><img src="http://i2.sinaimg.cn/home/07index/sinahome_ws_032.gif" width="118" height="48" alt="好耶广告网络"/></a></td>

	<td width="5"></td>

	<td><a href="http://net.china.cn/chinese/index.htm" target="_blank"><img src="http://i3.sinaimg.cn/home/07index/sinahome_ws_033.gif" width="118" height="48" alt="不良信息举报中心" /></a></td>

	
	<td width="5"></td>

	<td><a href="http://www.bj.cyberpolice.cn/index.htm" target="_blank"><img src="http://i1.sinaimg.cn/home/07index/sinahome_ws_035.gif" width="118" height="48" alt="网络110报警服务" /></a></td>

	<td width="5"></td>

	<td><a href="http://www.ctws.com.cn" target="_blank"><img src="http://i2.sinaimg.cn/home/07index/sinahome_ws_036.gif" width="118" height="48" alt="无线互联网业自律同盟" /></a></td>

	</tr>

	</table>
	
</div>

          {$thiscityname}信息港</font> 2004-2011 版权所有 联系电话:0775-5617285</div>
          <div align="center"><strong><a href="http://www.gx.cyberpolice.cn/yulin/" target="_blank"><img src="http://www.0775168.com/images/jingcha1.gif" border="0"></a> &nbsp;<a href="http://sq.rxga.gov.cn/index.aspx?MarkID=2" target="_blank"><img src="http://www.0775168.com/images/rxwangan.jpg" width="60" height="68" border="0"></a>&nbsp;<span id="windspend"></span></strong>&nbsp;<strong>增值电信业务经营许可证：桂B2-20100000号&nbsp;&nbsp;<a href="http://www.gx.cyberpolice.cn/yulin/" target="_blank"><img src="http://www.0775168.com/images/wangan.gif" width="36" height="42" border="0"></a><span id="windspend"></span></strong>&nbsp; 
		 <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcd9b5bbeee8849f7aa4dc1bbdcc81d07' type='text/javascript'%3E%3C/script%3E"));
</script>

		  <a href="http://www.gx.cyberpolice.cn/yulin/" target="_blank"><img src="http://http://www.0775168.com/images/jingcha2.gif" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;
		  

</div>
</div>
</body>
</html>
<!--
EOT;
?>
-->